my_program
.vscode
a.out
run
/venv
.DS_Store
*.out
*.log
*.fls
*.aux
*.fdb_latexmk
*.synctex.gz
*.toc
*.pyc
*.bbl
*.nav
*.snm
*.vrb
*.bst
out
high.sh
*.pyc
rung.sh
*.synctex
tempQuery.sql
tempParse.txt